.header {
  width: 100%;
  display: inline-block;
}
.head-warrap {
  padding: 10px;
}
.header h1 {
  display: inline;
}
.user {
  float: right;
  display: inline-block;
  position: relative;
}
.user-name {
  color: white;
}
.task-tab {
  margin-top: 15px;
  margin-left: 20px;
  width: 75%;
  display: inline-block;
}
.task-title {
  padding: 7px;
  margin-bottom: 10px;
}
.ag-grid {
  width: 97%;
  height: 450px;
  margin: auto;
}
.task-hours {
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
}
.detail-card {
  padding: 0 10px;
  border-radius: 5px;
  width: 80%;
  margin: auto;
}
.detail-card span {
  display: block;
}
.task-hours-client {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
}
table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  /* background-color: #8fd1dd; */
}

th,
td {
  text-align: left;
  padding: 3px;
}

/* tr:nth-child(even){background-color: #f2f2f2} */

.leave-balance,
.leave-history {
  margin-top: 16px;
  margin-left: 20px;
  display: inline-block;
}
.leave-title,
.head-warrap .title {
  padding: 7px;
  margin-bottom: 10px;
}
.d-none {
  display: none;
}
.theamSet {
  background-color: var(--background-color);
  color: var(--color);
}

.ag-header-row {
  background-color: var(--background-color);
  color: var(--color) !important;
  font-size: 16px;
}
.ag-theme-alpine .ag-row-odd {
  background-color: var(--ag-row-odd-background-color) !important;
}
